@import "tailwindcss";

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

#dialog {
  background-color: rgba(0, 0, 0, 0.4);
}

#form-contact-success-message,
#dialog {
  opacity: 0;
  visibility: hidden;
}

#form-contact-success-message.show,
#dialog.show,
#joystick-container.show {
  visibility: visible;
  opacity: 1;
}

#joystick-container {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  touch-action: none;
  z-index: 10;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
}

#joystick {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 40px;
  transition: 0.1s;
}
